*{margin: 0;padding: 0}

    body {
      background: url(https://res.cloudinary.com/greenprinty/image/upload/v1610897289/FLIP/body_d4f9zl.jpg);
             margin: 0;
      padding: 0;
    }

    .swiper-container {
     width: 99vw;
      height: 99vh;
      margin: 0 auto;display: block;
      
      
    }
.swiper-slide .back{
  width: 99vw;
      height: 99vh;
}
    

.swiper-slide{
background-position: center;
      background-size: cover;

}



.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner h2 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;font-family: 'Kalpurush', sans-serif;
  width: 100%;flex-direction: column;
  height: 100%;
  margin: 0;
  font-weight: 400;
  font-size: 70px;font-weight: bold;
  text-align: center;
    text-transform: uppercase;
  background-color: #ffffff;
  mix-blend-mode: screen;
}
span{
    font-size: 170px
    
}


.swiper-slide:nth-child(2) .back{width: 99vw;height: 79vh;background-image: url(https://res.cloudinary.com/greenprinty/image/upload/v1610912667/FLIP/confe_fm5qei.gif);background-size: cover;}
.swiper-button-prev{
   background-color: rgba(0, 0, 0, 0.3);border-radius: 5px;
}
.swiper-button-next{
    background-color: rgba(0, 0, 0, 0.3);border-radius: 5px;
}
.ground{background: url(https://res.cloudinary.com/greenprinty/image/upload/v1610897289/FLIP/body_d4f9zl.jpg)}
 #back{display: flex; max-width: 99vw;height: 79vh;flex-direction: row;margin: 0 auto;justify-content: center;padding-top: 15%; }
#patra{width: 220px;}
#patri{width: 200px;padding-top: 27px}
.tainer{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
       .upper{height:150px;border-radius: 8px 8px 0px 0px;outline: none;background: url(https://res.cloudinary.com/greenprinty/image/upload/v1610866798/CUBE/fire_u0abvh.gif) }
    .img-upper{background: white;width: 80px;height: 80px;border-radius: 50%;padding: 5px;transform: translate(100px,100px)
    }
    .img-upper img{width: 80px;height: 80px;border-radius: 50%;}
    .lower{height:280px;border-radius: 0px 0px 8px 8px;background: url(https://res.cloudinary.com/greenprinty/image/upload/v1610866790/CUBE/bord_md1mwd.jpg);outline: none;padding: 20px;padding-top: 40px;
    text-align: center;overflow: hidden}
    .lower h3{box-sizing: border-box;line-height: .6;font-weight: bold;color: #D0003B;font-family: 'Kalpurush', sans-serif;
    background-color: white;border-radius: 25px;width: 160px;padding: 10px;display: block;margin: 15px auto}
    .lower p{font-size: 16px;color: #D0003B;margin-top: 20px;font-family: 'Kalpurush', sans-serif;}

    .tainer1{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper1{height:150px;border-radius: 8px 8px 0px 0px;outline: none;background: url(https://res.cloudinary.com/greenprinty/image/upload/v1610866798/CUBE/fire_u0abvh.gif) }
    .img-upper1{background: white;width: 80px;height: 80px;border-radius: 50%;padding: 5px;transform: translate(100px,100px)
    }
    .img-upper1 img{width: 80px;height: 80px;border-radius: 50%;}
    .lower1{height:280px;border-radius: 0px 0px 8px 8px;background: url(https://res.cloudinary.com/greenprinty/image/upload/v1610866791/CUBE/bord1_nubc5q.jpg);outline: none;padding: 20px;padding-top: 40px;
    text-align: center;}
    .lower1 h3{box-sizing: border-box;line-height: .6;font-weight: bold;margin-top: 10px;color: #FF2264;font-family: 'Kalpurush', sans-serif;
    background-color: white;border-radius: 25px;width: 200px;padding: 12px;display: block;margin: 15px auto}
    .lower1 p{font-size: 16px;color: #D0003B;margin-top: 20px;font-family: 'Kalpurush', sans-serif;}
    .backy{width: 99vw;height: 99vh;background-image: url(https://res.cloudinary.com/greenprinty/image/upload/v1610897275/FLIP/slide1_y88ojy.jpg);background-size: cover;}
 .proja{text-align: center;font-family: 'Kalpurush', sans-serif;font-size: 27px;width: 280px;padding: 2px;border-radius: 43px;
    border: none;display: block;margin: 0 auto;color: #FDE6F8;background: url(https://res.cloudinary.com/greenprinty/image/upload/v1610904889/FLIP/tile_ucmgdn.gif);position: relative;top: 10px;}  
    #fontcss{margin-left: 10px;margin-top: 35px;margin-bottom: 20px;color: #FDE6F8;font-family: 'Kalpurush', sans-serif;font-size: 22px;}
    .bih{font-family: 'Kalpurush', sans-serif;text-align: justify;text-indent: 40px;margin-left: 10px;margin-right: 10px;background: rgba(0,0,0,0.2);border-radius: 26px;
    margin-bottom: 60px;color: #FDE6F8;font-size: 22px;animation: skew 3s infinite;  transform: skew(20deg);  animation-direction: alternate;padding: 6px;}
    @keyframes skew {
  0% {
    transform: skewX(2deg);
  }
  100% {
    transform: skewX(-2deg);
  }
}
    .quni{display: flex;max-width: 100%;justify-content: space-between}
    .quni img {max-width: 60%;}
    .nibe{text-align: right;margin-right: 10px;color: #FDE6F8;font-family: 'Kalpurush', sans-serif;font-size: 22px;max-width: 40%}
    .back2{width: 99vw;height: 99vh;background-image: url(https://res.cloudinary.com/greenprinty/image/upload/v1610911093/FLIP/slide3_u5q52a.jpg);background-size: cover;}
    h2{text-align: center;font-size: 27px;background: url(https://res.cloudinary.com/greenprinty/image/upload/v1610911324/FLIP/slide4_uqovsj.jpg);padding-top: 50px;
    padding-bottom: 25px;border-radius: 50%;position: relative;bottom: 40px;font-family: 'Kalpurush', sans-serif;animation: skew 3s infinite;  transform: skew(20deg);  animation-direction: alternate}
   #dance{width: 320px;display: block;margin: 15px auto;background: white;border-radius: 26px;}
    .sucu{background: url(https://res.cloudinary.com/greenprinty/image/upload/v1610911324/FLIP/slide4_uqovsj.jpg);border-radius: 26px}
    .subh{text-align: center;font-size: 24px;font-weight: bold;margin-bottom: 10px;height: 28px;color: white;
    font-family: 'Kalpurush', sans-serif;}
    .nai{text-align: center;color: #BC0035;font-family: 'Kalpurush', sans-serif;font-size: 20px;}
    .container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;
width: 80px;
height: 35px;
line-height: 35px;
text-align: center;
background: url(time.gif);
border-radius: 50px;
color: white;
margin: 0 5px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -26px;
left: 0;
width: 78px;
height: 25px;
background: #FF0018;font-family: 'Kalpurush', sans-serif;
color: #FECB00;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
    .prit{text-align: center;color:white;font-size: 24px;font-weight: bold;font-family: 'Kalpurush', sans-serif;
    width: 170px;height:28px;margin: 10px auto;border-radius: 23px; }
    .eg{text-align: center;color:#BC0035;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 7px}
    .stha{text-align: center;color:white;font-size: 24px;font-weight: bold;font-family: 'Kalpurush', sans-serif;
    width: 120px;height:28px;margin: 10px auto;border-radius: 23px;}
    .cu{text-align: center;color:#BC0035;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 20px;}
        #namo{display: block;margin: 0 auto;width: 320px;padding-top: 100px;border-radius: 160px}
    footer{position: relative;top: 230px;
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 10px;
      color: white;
        }  
        a button{width: 100px;height: 30px;border-radius: 16px;background: #03B807;color: white;letter-spacing: 1.5px;font-size: 17px;border: none;}